* {
    box-sizing: border-box;
}
#top{
	color:#1D9B45
}

#header-nav {
    background-color: #3AE2CE;
    border-radius: 0;
    border: 0;

    margin-bottom: 0;
}



.navbar-brand {
    padding-left: 0;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }

.navbar-brand h1 {
    font-family: 'Alfa Slab One';
    font-size: 1.5em;
    color: black;
    margin-top: 0;
    margin-left: 15px;
    margin-bottom: 0;
}

.text-center {

    font-size: 38px;
    font-weight: bold;
    position: relative;
    margin-top: 55px;
}

.text1 {
    margin: 10px;
    background-color: #cf8d8d;
    position: relative;
}

.text2 {
    margin: 10px;
    background-color: #b93c3b;
    position: relative;
}

.text3 {
    margin: 10px;
    background-color: #e1ca8d;
    position: relative;
}




#nav-list {
    margin-top: 10px;
}

#nav-list a {
    text-align: center;
    color: black;

    font-weight: 100;
    background-color: #27CFBB;
}

#nav-list a:hover {
    background-color: #AEAE52;
}

.navbar-default .navbar-collapse {
	margin-top:0px;
	border: 0px;
	list-style-type: none;
}
